{
  "extends": [
    "@sanity/eslint-config-studio",
    "prettier",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["prettier", "import", "path-alias", "@typescript-eslint", "react-hooks", "react-compiler"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true,
      "alias": {
        "extensions": [".js", ".json", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-extraneous-dependencies": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react-compiler/react-compiler": "error",
    "import/default": "off"
  },
  "overrides": [
    {
      "files": ["./**/*.ts", "./src/**/*.js"],
      "excludedFiles": ["./sanity.cli.ts", "./sanity.config.ts"],
      "rules": {
        "path-alias/no-relative": "error"
      }
    }
  ]
}
