.root {
  color: #121923;
  padding: 1.25em;
  margin: 2rem 0;
}

.root[data-state='error'] {
  background-color: #fdebea;
border-color: #f9b1ab;
}

.root[data-state='success'] {
  background-color: #e7f9ed;
  border-color: #a1eaba;
}

.root[data-state='warning'] {
  background-color: #fef7da;
border-color: #fcdf6d;
}

.header {
  display: flex;
  margin: 0 0 1rem;
}

.icon {
  margin-right: 0.5rem;
}

.icon svg {
  vertical-align: top;
  font-size: calc(calc(1rem / 16 * 20) * calc(24 / 20));
  line-height: 1;
}

.title {
  flex: 1;
  font-size: calc(1rem / 16 * 20);
  line-height: calc(24 / 20);
  margin: 0;
}

.body {
  color: #3c4758;
  font-size: 1em;
  line-height: calc(24 / 16);
  white-space: pre-wrap;
}

.body p {
  margin: 0;
}

.body p + p {
  margin-top: 0.75rem;
}

.body :not(pre) > code {
  background: rgba(127, 127, 127, 0.25) !important;
}
